@using Prototyping.Ipsum
@using Prototyping.Placeholdit
<div class="row">
    <header class="twelve columns orange">
        @Html.Ipsum().ul(links: true, ulAttributes: new { @class = "nav-bar" })
    </header>
</div>
<div class="row">
    <nav class="two columns purple">@Html.Ipsum().ul(links: true, ulAttributes: new { @class = "nav-bar vertical" })</nav>
    <div class="six columns blue">
        <article>
            @Html.Ipsum().h1()
            @Html.Placehold(120, 120, htmlAttributes: new { @class = "right" })
            @Html.Ipsum().p().h2().p()
        </article>
    </div>
    <div class="four columns green">
        <aside class="panel">@Html.Ipsum().h3().p().h4().p()</aside>
    </div>
</div>
